.divStatistics {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 250px;
  height: 180px;
  background-color: aquamarine;
  border-radius: 3px;
}

.titleStatistics {
  margin: 0;
  text-align: center;
}

.textStatistics {
  margin-left: 5px;
}
